{% extends "layout.html" %}

{% block title %}
second NAV bar
{% endblock title %}

{% block content %}
<h1>All Softwares</h1>

<div class="grid grid-cols-3 gap-4">

{% for second in seconds %}
    <div class="bg-green-100 p-5">
        <img class="rounded shadow-lg" src="{{second.image.url}}" alt="">
        <h3 class="text-2xl font-bold">{{second.name}}</h3>
        <a href="{% url 'second_details' second.id %}">
            <button
            type="button"
            class="btn btn-primary btn-lg">
                {{second.type}} - {{second.id}}
            </button>
        </a>
    </div>

{% endfor  %}
</div>
{% endblock %}

